<div class="legend">
    <table class="table-legend">
        <tr>
            <td><img src="img/pole_emploi.png" /></td>
            <td>Agence Pôle Emploi</td>
        </tr>
        <tr>
            <td><img src="img/cpam.png" /></td>
            <td>CPAM</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-blue awesome-marker"><i class="fa fa-building icon-white"></i></span></td>
            <td>Agence CAF</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-brown awesome-marker"><i class="fa fa-wifi icon-white"></i></span></td>
            <td>Antenne CAF</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-magenta awesome-marker"><i class="fa fa-money icon-white"></i></span></td>
            <td>Centre des impots</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-purple awesome-marker"><i class="fa fa-university icon-white"></i></span></td>
            <td>Mairie</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-orange awesome-marker"><i class="fa fa-id-card icon-white"></i></span></td>
            <td>Permanence</td>
        </tr>
        <tr>
            <td><span class="awesome-marker-icon-green awesome-marker"><i class="fa fa-user icon-white"></i></span></td>
            <td>Allocataire</td>
        </tr>
    </table>
</div>